<div class="main-container">
	<h1>Get Bank, Go Dutch...</h1>

	<p class='form-input'>
		Go Dutch helps you collect money from your friends! You know, the ones who never have cash to pay you back but they conveniently have credit cards... ;)<br>Now they can pay you back with those, whether it's before or after the event.
	</p>
	<h4 class='pink'>
		<strong>Happy loansharking!</strong>
	</h4>
</div>