<% if current_user %>
  <h1>Hello <%= current_user.firstname%></h1>
  <%=link_to 'Dashboard', events_details_path %><br>
  <%= link_to 'Make New Event', new_event_path %>
<% else %> 
	<%= render 'login' %>
<% end %>
