<div class="main-container">
	<h1><strong>Thank you for confirming your attendance! <i class="fa fa-thumbs-o-up"></i></strong></h1>
	<h2>We'll email you again when the charge is made to your card.</h2>
</div>