<div class="main-container">
	<h1><strong>Thank you! <i class="fa fa-thumbs-o-up"></i></strong></h1>
	<h3>Your attendance is confirmed.</h3>
	<h4>We'll email you again when the charge is made to your card.</h4>
</div>