<div class="nav-bar dutch-nav">
	<%= link_to image_tag('logo.png'), '/', class: 'logo pull-left' %>
	<ul class="nav navbar-nav navbar-right">
		<li class="btn-success"> <%= link_to "profile" %> </li>
		<li class="btn-success"> <%= link_to "create new event" %> </li>
		<li class="btn-success"> <%= link_to "about" %> </li>
	</ul>
</div>